body {
    background: #0875a4;
    font-family: sans-serif;
}
#root {
    text-align: center;
}
#root ul {
    margin: 0 auto;
    padding: 0;
    max-width: 500px;
    min-width: fit-content;
    list-style: none;
}
#root ul li {
    background-color: wheat;
    border: 2px solid darkseagreen;
    border-radius: 15px;
    margin-bottom: 5px;
}
#root ul li:hover {
    background-color: #e7c586;
}
#root ul li p {
    font-weight: 700;
    text-transform: uppercase;
}